@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weigh;
    font-style: normal;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background:#3cf38f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    font-size: 3vw;
    color: #729b72;
}

.left-login > h3 {
    width: 20%;
    font-size: 3vw;
    color: #0a8047;

}

.left-login-image {
    width: 45%;
    height: 100vh;
}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#2b2c2c;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #1b1b1b;
}

.card-login > h1 {
    color:#3cf38f;
    font-weight: 800;
    margin: 0;
}

.textfield { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#4e5351;
    color: #f5f4f4;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #2b2c2c;
    outline: none;
    box-sizing: border-box;
}

.textfield .form-control {
    background: #4e5351; 
    color: #eee7e7; 
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #2b2c2c;
}

.textfield > input::placeholder {
    color: #898b8b;
}


.textfield > label {
    color: #2b2c2c;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #898b8b;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 28px;
    border: none;
    border-radius: 45px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#f5f4f4;
    background:#3cf38f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1b5e3e;
}